{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Senior Design Group 1</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}?v=6" />
</head>
<body>
    <div class="main-container">
        <!-- Header -->
        <header>
    		<div class="header-layout">
        	{% for img_path in image_files %}
            		<img src="{% static img_path %}" alt="Image {{ forloop.counter }}" class="header-icon" />
        	{% empty %}
            		<p>No images found in static/images folder.</p>
        	{% endfor %}
		</div>
	</header>
    </div>
</body>
</html>
